ETCD_NAME="{{ inventory_hostname }}"
ETCD_DATA_DIR="/var/lib/etcd"
ETCD_LISTEN_PEER_URLS="https://{{ ip }}:2380"
ETCD_LISTEN_CLIENT_URLS="https://{{ ip }}:2379"
ETCD_PEER_CLIENT_CERT_AUTH="true"
ETCD_INITIAL_CLUSTER_TOKEN="etcd-cluster"
ETCD_INITIAL_CLUSTER="{% for host in master %}{{ hostvars[host].inventory_hostname }}=https://{{ hostvars[host].ip }}:2380{% if not loop.last %},{% endif %}{% endfor %}"
ETCD_INITIAL_ADVERTISE_PEER_URLS="https://{{ inventory_hostname }}:2380"
ETCD_ADVERTISE_CLIENT_URLS="https://{{ ip }}:2379"
ETCD_PEER_TRUSTED_CA_FILE="/etc/etcd/ca.pem"
ETCD_PEER_CERT_FILE="/etc/etcd/client.pem"
ETCD_PEER_KEY_FILE="/etc/etcd/client-key.pem"
ETCD_TRUSTED_CA_FILE="/etc/etcd/ca.pem"
ETCD_CERT_FILE="/etc/etcd/client.pem"
ETCD_KEY_FILE="/etc/etcd/client-key.pem"